<section ng-init="vm.init()">
  <div class="page-header">
    <h1>{{vm.client._id ? 'Edit Client' : 'New Client'}}</h1>
  </div>

  <form name="vm.form.clientForm" class="form-horizontal" ng-submit="vm.save(vm.form.clientForm.$valid)" novalidate>
    <div class="row">
      <div class="col-xs-2">

      </div>
      <div class="col-xs-10 form-group">
        <label class="radio-inline"><input type="radio"  id="P" value="P" name="type" ng-model="vm.client.type">บุคคล</label>
        <label class="radio-inline"><input type="radio" id="C" value="C" name="type" ng-model="vm.client.type">บริทรัษ</label>
      </div>
    </div>

    <div ng-if="vm.client.type === 'P'">
      <div class="row">
        <div class="col col-md-10">
          <div class="form-group" show-errors>
            <label class="col-sm-2 control-label">ID</label>
            <div class="col-sm-10">
              <input type="number" min="1000000000000" ng-model="vm.client.cid" name="cid" class="form-control" placeholder="ID" required>
            </div>
          </div>
        </div>
        <div class="col col-md-2"></div>
      </div>
      <div class="row">
        <div class="col col-md-10">
          <div class="form-group" show-errors>
            <label class="col-sm-2 control-label">ชื่อ</label>
            <div class="col-sm-10">
              <input type="text" ng-model="vm.client.fname" name="fname" class="form-control" placeholder="ชื่อ" required>
            </div>
          </div>
        </div>
        <div class="col col-md-2"></div>
      </div>
      <div class="row">
        <div class="col col-md-10">
          <div class="form-group" show-errors>
            <label class="col-sm-2 control-label">นามสกุล</label>
            <div class="col-sm-10">
              <input type="text" ng-model="vm.client.lname" name="lname" class="form-control" placeholder="นามสกุล" required>
            </div>
          </div>
        </div>
        <div class="col col-md-2"></div>
      </div>
      <div class="form-group">
        <table class="table">
          <thead style="background-color:lightgray;">
            <tr>
              <th>No.</th>
              <th>name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="product in vm.client.relations">
              <td>
                <p>{{$index+1}}</p>
              </td>
              <td>
                <input type="text" ng-model="product.rela" class="form-control" placeholder="ชื่อ">
              </td>
              <td class="text-right">
                <button type="button" class="btn btn-danger" ng-click="vm.removeItem($index)">Remove</button>
              </td>
            </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-default" ng-click="vm.addItem()">Add</button>
      </div>
    </div>

    <div ng-if="vm.client.type === 'C'">
      <div class="row">
        <div class="col col-md-10">
          <div class="form-group" show-errors>
            <label class="col-sm-2 control-label">ID</label>
            <div class="col-sm-10">
              <input type="number" min="1000000000000" ng-model="vm.client.cid" name="cid" class="form-control" placeholder="ID" required>
            </div>
          </div>
        </div>
        <div class="col col-md-2"></div>
      </div>
      <div class="row">
        <div class="col col-md-10">
          <div class="form-group" show-errors>
            <label class="col-sm-2 control-label">ชื่อ</label>
            <div class="col-sm-10">
              <input type="text" ng-model="vm.client.fname" name="fname" class="form-control" placeholder="ชื่อ" required>
            </div>
          </div>
        </div>
        <div class="col col-md-2"></div>
      </div>
      <div class="form-group">
        <table class="table">
          <thead style="background-color:lightgray;">
            <tr>
              <th>No.</th>
              <th>name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="product in vm.client.relations">
              <td>
                <p>{{$index+1}}</p>
              </td>
              <td>
                <input type="text" ng-model="product.rela" class="form-control" placeholder="ชื่อ">
              </td>
              <td class="text-right">
                <button type="button" class="btn btn-danger" ng-click="vm.removeItem($index)">Remove</button>
              </td>
            </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-default" ng-click="vm.addItem()">Add</button>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-default">{{vm.client._id ? 'Update' : 'Create'}}</button>
    </div>
    <div ng-show="vm.error" class="text-danger">
      <strong ng-bind="vm.error"></strong>
    </div>
  </form>

</section>