<section>
  <div class="page-header">
    <h1>Clients</h1>
  </div>
  <div class="table-responsive">
    <div class="row">
      <div class="col col-xs-10">
        <input type="search" class="form-control " ng-model="searchText" placeholder="ค้นหา">
      </div>
      <div class="col col-md-2">
        <button class="btn btn-primary" ui-sref="clients.create()">สร้างรายการใหม่</button>
      </div>
    </div>
    <br>
  </div>
        
  <div class="list-group">
    <a ng-repeat="client in vm.clients"
       ui-sref="clients.view({ clientId: client._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="client.created | date:'mediumDate'"></span>
        by
        <span ng-if="client.user" ng-bind="client.user.displayName"></span>
        <span ng-if="!client.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="client.name"></h4>
    </a>
  </div>
</section>
