<section style="min-height:1000px;">
  <div class="page-header">
    <h1>{{vm.acquisition._id ? 'Edit Acquisition' : 'New Acquisition'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.acquisitionForm" class="form-horizontal" ng-submit="vm.save(vm.form.acquisitionForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group">
          <label class="control-label" for="buyer">ผู้ซื้อ</label>
          <input name="buyer" type="text" ng-model="vm.acquisition.buyer" id="buyer" class="form-control" placeholder="ผู้ซื้อ">
        </div>
        <div class="form-group">
          <label class="control-label" for="seller">ผู้ขาย</label>
          <input name="seller" type="text" ng-model="vm.acquisition.seller" id="seller" class="form-control" placeholder="ผู้ขาย">
        </div>

        <div class="row">
          <div class="col-xs-12">
            <label class="control-label" for="">เกณฑ์มูลค่าสินทรัพย์สุทธิ</label>
            <div class="row">
              <div class="col-xs-3">
                <div class="form-group">
                  <label class="control-label" for="obtaining">สัดส่วนการได้มา</label>
                  <input name="obtaining" type="number" ng-model="vm.acquisition.nta.obtaining" id="obtaining" class="form-control" placeholder="สัดส่วนการได้มา"
                    ng-change="vm.calculate1()">
                </div>
              </div>
              <div class="col-xs-3">
                <div class="form-group">
                  <label class="control-label" for="ptyvalue">มูลค่าสินทรัพย์สุทธ</label>
                  <input name="ptyvalue" type="number" ng-model="vm.acquisition.nta.ptyvalue" id="ptyvalue" class="form-control" placeholder="มูลค่าสินทรัพย์สุทธ"
                    ng-change="vm.calculate1()">
                </div>
              </div>
              <div class="col-xs-3">
                <div class="form-group">
                  <label class="control-label" for="ptvcomapany">มูลค่าสินทรัพย์สุทธิของบริษัท</label>
                  <input name="ptvcomapany" type="number" ng-model="vm.acquisition.nta.ptvcomapany" id="ptvcomapany" class="form-control" placeholder="มูลค่าสินทรัพย์สุทธิของบริษัท"
                    ng-change="vm.calculate1()">
                </div>
              </div>
              <div class="col-xs-3">
                <div class="form-group">
                  <label class="control-label" for="ntatotal">รายการขนาด / ร้อยละ</label>
                  <input name="ntatotal" readonly type="number" ng-model="vm.acquisition.nta.ntatotal" id="ntatotal" class="form-control"
                    placeholder="รายการขนาด" ng-change="vm.calculate1()">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <label class="control-label" for="">เกณฑ์กำไรสุทธิ</label>
            <div class="row">
              <div class="col-xs-3">
                <div class="form-group">
                  <label class="control-label" for="entryacq">สัดส่วนการเข้าซื้อ</label>
                  <input name="entryacq" type="number" ng-model="vm.acquisition.forecast.entryacq" id="entryacq" class="form-control" placeholder="สัดส่วนการเข้าซื้อ"
                    ng-change="vm.calculate2()">
                </div>
              </div>
              <div class="col-xs-3">
                <div class="form-group">
                  <label class="control-label" for="net">กำไรสุทธิ</label>
                  <input name="net" type="number" ng-model="vm.acquisition.forecast.net" id="net" class="form-control" placeholder="กำไรสุทธิ"
                    ng-change="vm.calculate2()">
                </div>
              </div>
              <div class="col-xs-3">
                <div class="form-group">
                  <label class="control-label" for="totalnet">กำไรสุทธิของบริษัท</label>
                  <input name="totalnet" type="number" ng-model="vm.acquisition.forecast.totalnet" id="totalnet" class="form-control" placeholder="กำไรสุทธิของบริษัท"
                    ng-change="vm.calculate2()">
                </div>
              </div>
              <div class="col-xs-3">
                <div class="form-group">
                  <label class="control-label" for="fortotal">รายการขนาด / ร้อยละ</label>
                  <input name="fortotal" readonly type="number" ng-model="vm.acquisition.forecast.fortotal" id="fortotal" class="form-control"
                    placeholder="รายการขนาด" ng-change="vm.calculate2()">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <label class="control-label" for="">เกณฑ์มูลค่ารวมของสิ่งตอบแทน</label>
            <div class="row">
              <div class="col-xs-4">
                <div class="form-group">
                  <label class="control-label" for="valueofaset">มูลค่าสิ่งตอบแทนที่ชำระให้</label>
                  <input name="valueofaset" type="number" ng-model="vm.acquisition.ttvconsider.valueofaset" id="valueofaset" class="form-control"
                    placeholder="มูลค่าสิ่งตอบแทนที่ชำระให้" ng-change="vm.calculate3()">
                </div>
              </div>
              <div class="col-xs-4">
                <div class="form-group">
                  <label class="control-label" for="issuedost">มูลค่าสินทรัพย์รวมของบริษัท</label>
                  <input name="issuedost" type="number" ng-model="vm.acquisition.ttvconsider.issuedost" id="issuedost" class="form-control"
                    placeholder="มูลค่าสินทรัพย์รวมของบริษัท" ng-change="vm.calculate3()">
                </div>
              </div>
              <div class="col-xs-1">

              </div>
              <div class="col-xs-3">
                <div class="form-group">
                  <label class="control-label" for="ttvctotal">รายการขนาด / ร้อยละ</label>
                  <input name="ttvctotal" readonly type="number" ng-model="vm.acquisition.ttvconsider.ttvctotal" id="ttvctotal" class="form-control"
                    placeholder="รายการขนาด" ng-change="vm.calculate3()">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <label class="control-label" for="">เกณฑ์มูลค่าของหลักทรัพย์</label>
            <div class="row">
              <div class="col-xs-4">
                <div class="form-group">
                  <label class="control-label" for="payment">จำนวนหุ้นที่ออกเพื่อชำระค่าสินทรัพย</label>
                  <input name="payment" type="number" ng-model="vm.acquisition.valuesecur.payment" id="payment" class="form-control" placeholder="มูลค่าสิ่งตอบแทนที่ชำระให้"
                    ng-change="vm.calculate4()">
                </div>
              </div>
              <div class="col-xs-4">
                <div class="form-group">
                  <label class="control-label" for="companypaid">จำนวนหุ้นที่ออกและชำระแล้วของบริษัท</label>
                  <input name="companypaid" type="number" ng-model="vm.acquisition.valuesecur.companypaid" id="companypaid" class="form-control"
                    placeholder="จำนวนหุ้นที่ออกและชำระแล้วของบริษัท" ng-change="vm.calculate4()">
                </div>
              </div>
              <div class="col-xs-1">

              </div>
              <div class="col-xs-3">
                <div class="form-group">
                  <label class="control-label" for="valuesecur">รายการขนาด / ร้อยละ</label>
                  <input name="valuesecur" readonly type="number" ng-model="vm.acquisition.valuesecur.valuesecur" id="valuesecur" class="form-control"
                    placeholder="รายการขนาด" ng-change="vm.calculate4()">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-3"></div>
          <div class="col-xs-3"></div>
          <div class="col-xs-3"></div>
          <div class="col-xs-3">
            <div class="form-group">
              <label class="control-label" for="maximum">เกณฑ์สูงสุด / ร้อยละ</label>
              <input name="maximum" readonly type="number" ng-model="vm.acquisition.maximum" id="maximum" class="form-control" placeholder="เกณฑ์สูงสุด"
                ng-change="vm.findmaxvalue()">
            </div>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.acquisition._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>