<section>
  <div class="page-header">
    <h1>Acquisitions
      <div class="pull-right" ng-hide="!vm.authentication.user">
        <a class="btn btn-primary" ui-sref="acquisitions.create">
          <span>Create</span>
        </a>
      </div>
    </h1>
    <form role="search" class="navbar-form-custom" method="post" action="">
      <div class="form-group">
        <input type="text" placeholder="Search for something..." ng-model="topsearch" class="form-control" name="top-search" id="top-search">
      </div>
    </form>
  </div>
  <div class="list-group" ng-show="vm.acquisitions.length > 0">
    <table class="table">
      <thead>
        <tr>
          <th>No .</th>
          <th>ผู้ซื้อ</th>
          <th>ผู้ขาย</th>
          <th>เกณฑ์สูงสุด / ร้อยละ</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="acquisition in vm.acquisitions | orderBy:'-docdate && docno' | filter:topsearch " ui-sref="acquisitions.edit({ acquisitionId: acquisition._id })">
          <td>
            <p class="list-group-item-heading">{{$index+1}}</p>
          </td>
          <td>
            <p class="list-group-item-heading">{{acquisition.buyer}}</p>
          </td>
          <td>
            <p class="list-group-item-heading">{{acquisition.seller}}</p>
          </td>
          <td>
            <p class="list-group-item-heading">ร้อยละ {{acquisition.maximum | number:2}}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.acquisitions.$resolved && !vm.acquisitions.length">
    No acquisitions yet, why don't you <a ui-sref="acquisitions.create">create one</a>?
  </div>
</section>