<div class="tabs-container" >
    <uib-tabset>
        <uib-tab ng-repeat="tab in vm.tabs">
        <uib-tab-heading>
          <div ng-click="vm.status(tab);">{{tab.name}}</div>
        </uib-tab-heading>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                
                <th>รหัสทรัพย์</th>
                <th>เลขที่เอกสารสิทธิ์</th>
                <th>ชื่ออาคารชุด/สถานที่</th>
                <th>
                  <div class="row">
                    <div class="col-xs-12 text-center">{{vm.properties && vm.properties[0].propertyid ?'ประมาณการค่าใช้จ่าย':'ประมาณการค่าปรับปรุง'}}</div>
                  </div>
                  <div class="row">
                    <div class="col col-xs-4 text-center">จำนวนเงิน</div>
                    <div class="col col-xs-4 text-center">วันที่</div>
                    <div class="col col-xs-4 text-center">ผู้อนุมัติ</div>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="property in vm.properties | filter:{ status: tab.status }  | filter:searchText" ui-sref={{tab.uriref}} ng-if="property.department._id === vm.authentication.user.branch">
                
                <td>{{property.propertyid || property.renovateid}}</td>
                <td>{{property.documentno}}</td>
                <td>{{property.name}}</td>
                <td>
                  <div class="row">
                    <div class="col col-md-4 text-right">{{property.estexpense.amount | number:2}}</div>
                    <div class="col col-md-4 text-center">{{property.estexpense.apprvdate | date:'dd/MM/yyyy'}}</div>
                    <div class="col col-md-4">{{property.estexpense.approver}}</div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </uib-tab>
    </uib-tabset>
</div>