<section>
  <div class="page-header">
    <h1>สำนักงาน</h1>
  </div>
  
  <div class="table-responsive">
    <div class="row">
      <div class="col col-xs-10">
        <input type="search" class="form-control " ng-model="searchText" placeholder="ค้นหา">
      </div>
      <div class="col col-md-2">
        <button class="btn btn-primary" ui-sref="branches.create">สร้างรายการใหม่</button>
      </div>
    </div>
    <br>
  </div>

  <div class="tabs-container">
    <uib-tabset>
      <uib-tab>
        <uib-tab-heading>
          สำนักงาน
        </uib-tab-heading>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>ชื่อสำนักงาน</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="branch in vm.branches | filter:searchText" ui-sref="branches.edit({ branchId: branch._id })">
                <td>
                  {{branch.name}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </uib-tab>
    </uib-tabset>

  </div>
  <div class="alert alert-warning text-center" ng-if="vm.branches.$resolved && !vm.branches.length">
    No Branches yet, why don't you <a ui-sref="branches.create">create one</a>?
  </div>
</section>