<section ng-init="step(1)">
  <div class="container">
    <ul class="progressbar">
      <li class="{{step1}}" ng-click="step(1)">step1</li>
      <li class="{{step2}}" ng-click="step(2)">step2</li>
      <li class="{{step3}}" ng-click="step(3)">step3</li>
      <li class="{{step4}}" ng-click="step(4)">step4</li>
      <li class="{{step5}}" ng-click="step(5)">step5</li>
    </ul>
  </div>
  <div class="page-header">
    <h1 ng-show="step1 && step2 === null && step3 === null && step4 === null && step5 === null">รายละเอียดการทำรายการ</h1>
    <h1 ng-show="step1 && step2 && step3 === null && step4 === null && step5 === null">1. เกณฑ์มูลค่าสินทรัพย์ที่มีตัวตนสุทธิ</h1>
    <h1 ng-show="step1 && step2 && step3 && step4 === null && step5 === null">2. เกณฑ์กำไรสุทธิจากการดำเนินงาน</h1>
    <h1 ng-show="step1 && step2 && step3 && step4 && step5 === null">3. เกณฑ์มูลค่ารวมของสิ่งตอบแทน</h1>
    <h1 ng-show="step5">4. เกณฑ์มูลค่าหุ้นทุนที่ออกเพื่อชำระค่าสินทรัพย์</h1>
  </div>
  <!--<div class="col-md-12">-->
  <form name="vm.form.aquisitionForm" class="form-horizontal" novalidate>
    <fieldset>
      <!--Form0-->
      <div class="form-group" ng-show="step1 && step2 === null && step3 === null && step4 === null && step5 === null">
        <div class="form-group">
          <p class="col-sm-2 control-label">วัน/เดือน/ปี ที่ทำรายการ</p>
          <div class="col-sm-10">
            <input type="date" ng-model="vm.aquisition.startdate" name="startdate" class="form-control" required ng-disabled="vm.aquisition.status && (vm.aquisition.status === 'waiting for approve' || vm.aquisition.status === 'complete')">
            <div ng-messages="vm.form.aquisitionForm.startdate.$error" role="alert">
              <p class="help-block error-text" ng-message="required">กรุณากรอก วัน/เดือน/ปี</p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <p class="col-sm-2 control-label">คู่สัญญาที่เกี่ยวข้องและความสัมพันธ์</p>
          <div class="col-sm-10">
            <input type="text" ng-model="vm.aquisition.relations" name="relations" class="form-control" placeholder="คู่สัญญาที่เกี่ยวข้องและความสัมพันธ์"
              required ng-disabled="vm.aquisition.status && (vm.aquisition.status === 'waiting for approve' || vm.aquisition.status === 'complete')">
            <div ng-messages="vm.form.aquisitionForm.relations.$error" role="alert">
              <p class="help-block error-text" ng-message="required">กรุณากรอก คู่สัญญาที่เกี่ยวข้องและความสัมพันธ์</p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <p class="col-sm-2 control-label">ลักษณะโดยทั่วไปของรายการ</p>
          <div class="col-sm-10">
            <input type="text" ng-model="vm.aquisition.descriptionlist" name="descriptionlist" class="form-control" placeholder="ลักษณะโดยทั่วไปของรายการ"
              required ng-disabled="vm.aquisition.status && (vm.aquisition.status === 'waiting for approve' || vm.aquisition.status === 'complete')">
            <div ng-messages="vm.form.aquisitionForm.descriptionlist.$error" role="alert">
              <p class="help-block error-text" ng-message="required">กรุณากรอก ลักษณะโดยทั่วไปของรายการ</p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <p class="col-sm-2 control-label">รายละเอียดและมูลค่าของสินทรัพย์ที่ได้มา</p>
          <div class="col-sm-10">
            <input type="text" ng-model="vm.aquisition.descriptionproduct" name="descriptionproduct" class="form-control" placeholder="รายละเอียดและมูลค่าของสินทรัพย์ที่ได้มา"
              required ng-disabled="vm.aquisition.status && (vm.aquisition.status === 'waiting for approve' || vm.aquisition.status === 'complete')">
            <div ng-messages="vm.form.aquisitionForm.descriptionproduct.$error" role="alert">
              <p class="help-block error-text" ng-message="required">กรุณากรอก รายละเอียดและมูลค่าของสินทรัพย์ที่ได้มา</p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <p class="col-sm-2 control-label">การคำนวณขนาดรายการ</p>
          <div class="col-sm-10">
            <input type="text" ng-model="vm.aquisition.caculation" name="caculation" class="form-control" placeholder="การคำนวณขนาดรายการ"
              required ng-disabled="vm.aquisition.status && (vm.aquisition.status === 'waiting for approve' || vm.aquisition.status === 'complete')">
            <div ng-messages="vm.form.aquisitionForm.caculation.$error" role="alert">
              <p class="help-block error-text" ng-message="required">การคำนวณขนาดรายการ</p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <p class="col-sm-2 control-label">ประโยชน์ที่บริษัทคาดว่าจะได้รับ</p>
          <div class="col-sm-10">
            <input type="text" ng-model="vm.aquisition.benefit" name="benefit" class="form-control" placeholder="ประโยชน์ที่บริษัทคาดว่าจะได้รับ"
              required ng-disabled="vm.aquisition.status && (vm.aquisition.status === 'waiting for approve' || vm.aquisition.status === 'complete')">
            <div ng-messages="vm.form.aquisitionForm.benefit.$error" role="alert">
              <p class="help-block error-text" ng-message="required">กรุณากรอก ประโยชน์ที่บริษัทคาดว่าจะได้รับ</p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <p class="col-sm-2 control-label">ความเห็นของคณะกรรมการบริษัท</p>
          <div class="col-sm-10">
            <input type="text" ng-model="vm.aquisition.comment" name="comment" class="form-control" placeholder="ความเห็นของคณะกรรมการบริษัท"
              required ng-disabled="vm.aquisition.status && (vm.aquisition.status === 'waiting for approve' || vm.aquisition.status === 'complete')">
            <div ng-messages="vm.form.aquisitionForm.comment.$error" role="alert">
              <p class="help-block error-text" ng-message="required">กรุณากรอก ความเห็นของคณะกรรมการบริษัท</p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <p class="col-sm-2 control-label">ผู้จัดทำ</p>
          <div class="col-sm-10">
            <input type="text" ng-model="vm.aquisition.manipulator" name="manipulator" class="form-control" placeholder="ผู้จัดทำ" required ng-disabled="vm.aquisition.status && (vm.aquisition.status === 'waiting for approve' || vm.aquisition.status === 'complete')">
            <div ng-messages="vm.form.aquisitionForm.manipulator.$error" role="alert">
              <p class="help-block error-text" ng-message="required">กรุณากรอก ผู้จัดทำ</p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <p class="col-sm-2 control-label">ผู้อนุมัติ</p>
          <div class="col-sm-10">
            <input type="text" ng-model="vm.aquisition.approvers" name="approvers" class="form-control" placeholder="ผู้อนุมัติ" required ng-disabled="vm.aquisition.status && (vm.aquisition.status === 'waiting for approve' || vm.aquisition.status === 'complete')">
            <div ng-messages="vm.form.aquisitionForm.approvers.$error" role="alert">
              <p class="help-block error-text" ng-message="required">กรุณากรอก ผู้อนุมัติ</p>
            </div>
          </div>
        </div>

        <!--<label class="control-label btn btn-default" for="step1" ng-click="step(1)">Back Step</label>-->
        <label class="control-label btn btn-default" for="step1" ng-click="step(2)">Next Step</label>
      </div>
      <!--End Form0-->

      <!--Form1-->
      <div class="form-group" ng-show="step1 && step2 && step3 === null && step4 === null && step5 === null">
        <div class="form-group">
          <label class="col-sm-12">NTA ของเงินลงทุนในบริษัท</label>
          <!--<div class="col-sm-10">
            <input type="number" ng-model="vm.aquisition.form1.nta.assetssum" name="assetssum" class="form-control" placeholder="assetssum"
              required>
            <div ng-messages="vm.form.aquisitionForm.assetssum.$error" role="alert">
              <p class="help-block error-text" ng-message="required">assetssum is required.</p>
            </div>
          </div>-->
        </div>
        <div class="form-group">
          <p class="col-sm-2 control-label">สินทรัพย์รวม</p>
          <div class="col-sm-10">
            <input type="number" ng-model="vm.aquisition.form1.nta.assetssum" name="assetssum" class="form-control" placeholder="กรอกตัวเลข"
              required ng-disabled="vm.aquisition.status && (vm.aquisition.status === 'waiting for approve' || vm.aquisition.status === 'complete')">
            <div ng-messages="vm.form.aquisitionForm.assetssum.$error" role="alert">
              <p class="help-block error-text" ng-message="required">กรุณากรอก สินทรัพย์รวม</p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <p class="col-sm-2 control-label">หัก สินทรัพย์ไม่มีตัวตน*</p>
          <div class="col-sm-10">
            <input type="number" ng-model="vm.aquisition.form1.nta.assetsintangible" name="assetsintangible" class="form-control" placeholder="กรอกตัวเลข"
              required ng-disabled="vm.aquisition.status && (vm.aquisition.status === 'waiting for approve' || vm.aquisition.status === 'complete')">
            <div ng-messages="vm.form.aquisitionForm.assetsintangible.$error" role="alert">
              <p class="help-block error-text" ng-message="required">กรุณากรอก หัก สินทรัพย์ไม่มีตัวตน</p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <p class="col-sm-2 control-label">หัก หนี้สินรวม</p>
          <div class="col-sm-10">
            <input type="number" ng-model="vm.aquisition.form1.nta.debtssum" name="debtssum" class="form-control" placeholder="กรอกตัวเลข"
              required ng-disabled="vm.aquisition.status && (vm.aquisition.status === 'waiting for approve' || vm.aquisition.status === 'complete')">
            <div ng-messages="vm.form.aquisitionForm.debtssum.$error" role="alert">
              <p class="help-block error-text" ng-message="required">กรุณากรอก หัก หนี้สินรวม</p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <p class="col-sm-2 control-label">หัก ส่วนผู้ถือหุ้นที่ไม่มีอำนาจควบคุม(ถ้ามี)</p>
          <div class="col-sm-10">
            <input type="number" ng-model="vm.aquisition.form1.nta.shareholder" name="shareholder" class="form-control" placeholder="กรอกตัวเลข" ng-disabled="vm.aquisition.status && (vm.aquisition.status === 'waiting for approve' || vm.aquisition.status === 'complete')">
          </div>
        </div>

        <div class="form-group">
          <p class="col-sm-2 control-label">รวม NTA ของเงินลงทุนในบริษัท</p>
          <div class="col-sm-10">
            <input type="number" ng-model="vm.aquisition.form1.nta.ntasum" name="ntasum" class="form-control" placeholder="กรอกตัวเลข"
              required ng-disabled="vm.aquisition.status && (vm.aquisition.status === 'waiting for approve' || vm.aquisition.status === 'complete')">
            <div ng-messages="vm.form.aquisitionForm.ntasum.$error" role="alert">
              <p class="help-block error-text" ng-message="required">กรุณากรอก รวม NTA ของเงินลงทุนในบริษัท</p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-12">สัดส่วนที่ได้มาหรือจำหน่ายไป</label>
        </div>
        <div class="form-group">
          <p class="col-sm-2 control-label">สัดส่วนที่ได้มาหรือจำหน่ายไป</p>
          <div class="col-sm-10">
            <input type="number" ng-model="vm.aquisition.form1.acqodis" name="acqodis" class="form-control" placeholder="กรอกตัวเลข"
              required ng-disabled="vm.aquisition.status && (vm.aquisition.status === 'waiting for approve' || vm.aquisition.status === 'complete')">
            <div ng-messages="vm.form.aquisitionForm.acqodis.$error" role="alert">
              <p class="help-block error-text" ng-message="required">กรุณากรอก สัดส่วนที่ได้มาหรือจำหน่ายไป</p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-12">NTA ของบริษัทจดทะเบียน**</label>
        </div>
        <div class="form-group">
          <p class="col-sm-2 control-label">NTA ของบริษัทจดทะเบียน</p>
          <div class="col-sm-10">
            <input type="number" ng-model="vm.aquisition.form1.ntalisted" name="ntalisted" class="form-control" placeholder="กรอกตัวเลข"
              required ng-disabled="vm.aquisition.status && (vm.aquisition.status === 'waiting for approve' || vm.aquisition.status === 'complete')">
            <div ng-messages="vm.form.aquisitionForm.ntalisted.$error" role="alert">
              <p class="help-block error-text" ng-message="required">กรุณากรอก NTA ของบริษัทจดทะเบียน</p>
            </div>
          </div>
        </div>

        <label class="control-label btn btn-default" for="step1" ng-click="step(1)">Back Step</label>
        <label class="control-label btn btn-default" for="step1" ng-click="step(3)">Next Step</label>
      </div>
      <!--End Form1-->

      <!--Form2-->
      <div class="form-group" ng-show="step1 && step2 && step3 && step4 === null && step5 === null">
        <div class="form-group">
          <label class="col-sm-12">กำไรสุทธิจากการดำเนินงานของเงินลงทุนในบริษัท</label>
        </div>
        <div class="form-group">
          <p class="col-sm-2 control-label">กำไรสุทธิจากการดำเนินงานของเงินลงทุนในบริษัท</p>
          <div class="col-sm-10">
            <input type="number" ng-model="vm.aquisition.form2.netoperating" name="netoperating" class="form-control" placeholder="กรอกตัวเลข"
              required ng-disabled="vm.aquisition.status && (vm.aquisition.status === 'waiting for approve' || vm.aquisition.status === 'complete')">
            <div ng-messages="vm.form.aquisitionForm.netoperating.$error" role="alert">
              <p class="help-block error-text" ng-message="required">กรุณากรอก กำไรสุทธิจากการดำเนินงานของเงินลงทุนในบริษัท</p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-12">สัดส่วนที่ซื้อหรือขาย</label>
        </div>
        <div class="form-group">
          <p class="col-sm-2 control-label">สัดส่วนที่ซื้อหรือขาย</p>
          <div class="col-sm-10">
            <input type="number" ng-model="vm.aquisition.form2.ratio" name="ratio" class="form-control" placeholder="กรอกตัวเลข" required ng-disabled="vm.aquisition.status && (vm.aquisition.status === 'waiting for approve' || vm.aquisition.status === 'complete')">
            <div ng-messages="vm.form.aquisitionForm.ratio.$error" role="alert">
              <p class="help-block error-text" ng-message="required">กรุณากรอก สัดส่วนที่ซื้อหรือขาย</p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-12">กำไรสุทธิจากการดำเนินงานของบริษัทจดทะเบียน**</label>
        </div>
        <div class="form-group">
          <p class="col-sm-2 control-label">กำไรสุทธิจากการดำเนินงานของบริษัทจดทะเบียน</p>
          <div class="col-sm-10">
            <input type="number" ng-model="vm.aquisition.form2.netcompany" name="netcompany" class="form-control" placeholder="กรอกตัวเลข"
              required ng-disabled="vm.aquisition.status && (vm.aquisition.status === 'waiting for approve' || vm.aquisition.status === 'complete')">
            <div ng-messages="vm.form.aquisitionForm.netcompany.$error" role="alert">
              <p class="help-block error-text" ng-message="required">กรุณากรอก กำไรสุทธิจากการดำเนินงานของบริษัทจดทะเบียน</p>
            </div>
          </div>
        </div>


        <label class="control-label btn btn-default" for="step1" ng-click="step(2)">Back Step</label>
        <label class="control-label btn btn-default" for="step1" ng-click="step(4)">Next Step</label>
      </div>
      <!--End Form2-->

      <!--Form3-->
      <div class="form-group" ng-show="step1 && step2 && step3 && step4 && step5 === null">
        <div class="form-group">
          <label class="col-sm-12">มูลค่ารายการที่จ่ายหรือได้รับ*</label>
        </div>
        <div class="form-group">
          <p class="col-sm-2 control-label">มูลค่ารายการที่จ่ายหรือได้รับ</p>
          <div class="col-sm-10">
            <input type="number" ng-model="vm.aquisition.form3.amount" name="amount" class="form-control" placeholder="กรอกตัวเลข" required ng-disabled="vm.aquisition.status && (vm.aquisition.status === 'waiting for approve' || vm.aquisition.status === 'complete')">
            <div ng-messages="vm.form.aquisitionForm.amount.$error" role="alert">
              <p class="help-block error-text" ng-message="required">กรุณากรอก มูลค่ารายการที่จ่ายหรือได้รับ</p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-12">สินทรัพย์รวมของบริษัทจดทะเบียน**</label>
        </div>
        <div class="form-group">
          <p class="col-sm-2 control-label">สินทรัพย์รวมของบริษัทจดทะเบียน</p>
          <div class="col-sm-10">
            <input type="number" ng-model="vm.aquisition.form3.assetscompany" name="assetscompany" class="form-control" placeholder="กรอกตัวเลข"
              required ng-disabled="vm.aquisition.status && (vm.aquisition.status === 'waiting for approve' || vm.aquisition.status === 'complete')">
            <div ng-messages="vm.form.aquisitionForm.assetscompany.$error" role="alert">
              <p class="help-block error-text" ng-message="required">กรุณากรอก สินทรัพย์รวมของบริษัทจดทะเบียน</p>
            </div>
          </div>
        </div>

        <br>
        <label class="control-label btn btn-default" for="step1" ng-click="step(3)">Back Step</label>
        <label class="control-label btn btn-default" for="step1" ng-click="step(5)">Next Step</label>
      </div>
      <!--End Form3-->

      <!--Form4-->
      <div class="form-group" ng-show="step5">
        <div class="form-group">
          <label class="col-sm-12">จำนวนหุ้นที่บริษัทออกเพื่อชำระค่าสินทรัพย์</label>
        </div>
        <div class="form-group">
          <p class="col-sm-2 control-label">จำนวนหุ้นที่บริษัทออกเพื่อชำระค่าสินทรัพย์ </p>
          <div class="col-sm-10">
            <input type="number" ng-model="vm.aquisition.form4.sharespay" name="sharespay" class="form-control" placeholder="กรอกตัวเลข"
              required ng-disabled="vm.aquisition.status && (vm.aquisition.status === 'waiting for approve' || vm.aquisition.status === 'complete')">
            <div ng-messages="vm.form.aquisitionForm.sharespay.$error" role="alert">
              <p class="help-block error-text" ng-message="required">กรุณากรอก จำนวนหุ้นที่บริษัทออกเพื่อชำระค่าสินทรัพย์</p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-12">จำนวนหุ้นที่ชำระแล้วของบริษัท**</label>
        </div>
        <div class="form-group">
          <p class="col-sm-2 control-label">จำนวนหุ้นที่ชำระแล้วของบริษัท</p>
          <div class="col-sm-10">
            <input type="number" ng-model="vm.aquisition.form4.sharespaycompany" name="sharespaycompany" class="form-control" placeholder="กรอกตัวเลข"
              required ng-disabled="vm.aquisition.status && (vm.aquisition.status === 'waiting for approve' || vm.aquisition.status === 'complete')">
            <div ng-messages="vm.form.aquisitionForm.sharespaycompany.$error" role="alert">
              <p class="help-block error-text" ng-message="required">กรุณากรอก จำนวนหุ้นที่ชำระแล้วของบริษัท</p>
            </div>
          </div>
        </div>

      </div>

      <div class="form-group">
        <label class="control-label btn btn-default" for="step1" ng-click="step(4)" ng-show="step5">Back Step</label>
        <!--ng-disabled="vm.aquisition.status && (vm.aquisition.status === 'waiting for approve' || vm.aquisition.status === 'complete')"-->
        <button type="submit" class="btn btn-primary" ng-click="vm.saveToDraft(vm.form.aquisitionForm.$valid)" ng-show="step5 && (vm.aquisition.status || !vm.aquisition.status) && (vm.aquisition.status === 'draft' || !vm.aquisition.status) && (vm.authentication.user.roles[0] === 'dataentry' || vm.authentication.user.roles[0] === 'superuser')">{{vm.aquisition._id ? 'แก้ไขฉบับร่าง' : 'บันทึกฉบับร่าง'}}</button>
        <button type="submit" class="btn btn-primary" ng-click="vm.saveToApprove(vm.form.aquisitionForm.$valid)" ng-show="step5 && (vm.aquisition.status || !vm.aquisition.status) && (vm.aquisition.status === 'draft' || !vm.aquisition.status) && (vm.authentication.user.roles[0] === 'dataentry' || vm.authentication.user.roles[0] === 'superuser')">บันทึกขออนุมัติ</button>    
        <button type="submit" class="btn btn-danger" ng-click="vm.saveToDraft(vm.form.aquisitionForm.$valid)" ng-show="step5 && vm.aquisition.status && vm.aquisition.status === 'waiting for approve' && (vm.authentication.user.roles[0] === 'approver' || vm.authentication.user.roles[0] === 'superuser')">ส่งกลับแก้ไข</button>  
        <button type="submit" class="btn btn-primary" ng-click="vm.saveToComplete(vm.form.aquisitionForm.$valid)" ng-show="step5 && vm.aquisition.status && vm.aquisition.status === 'waiting for approve' && (vm.authentication.user.roles[0] === 'approver' || vm.authentication.user.roles[0] === 'superuser')">อนุมัติ</button>                                              
      </div>
      <!--End Form4-->
      <div ng-show="vm.error" class="text-danger">
        <strong ng-bind="vm.error"></strong>
      </div>
    </fieldset>
  </form>
  <!--</div>-->
</section>