<section ng-init="vm.readGenerals()">
  <div class="page-header">
    <h1>รายการ การเข้าซื้อกิจการ</h1>
  </div>
  <div class="table-responsive">
    <div class="row">
      <div class="col col-xs-10">
        <!--<input type="search" class="form-control " ng-model="searchText" placeholder="ค้นหา">-->
      </div>

      <div class="col col-md-2" ng-show="vm.authentication.user.roles[0] === 'dataentry' || vm.authentication.user.roles[0] === 'superuser'">
        <button class="btn btn-primary" ui-sref="aquisitions.create">สร้างรายการใหม่</button>
      </div>
    </div>
    <br>
  </div>
  <div class="list-group">
    <!--<a ng-repeat="aquisition in vm.aquisitions" ui-sref="aquisitions.view({ aquisitionId: aquisition._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="aquisition.created | date:'mediumDate'"></span>
        by
        <span ng-if="aquisition.user" ng-bind="aquisition.user.displayName"></span>
        <span ng-if="!aquisition.user">Deleted User</span>
      </small>
      <div class="row">
        <div class="col-xs-12 col-ms-4 col-md-4">
          <h4 class="list-group-item-heading">วัน/เดือน/ปี ที่ทำรายการ : {{aquisition.startdate | date: 'dd/MM/yyyy'}}</h4>
        </div>
        <div class="col-xs-12 col-ms-6 col-md-6">
        <div class="row">
        <div class="col-xs-12 col-ms-4 col-md-4">
          <h4 class="list-group-item-heading">คู่สัญญาที่เกี่ยวข้องและความสัมพันธ์ : {{aquisition.relations}}</h4>
        </div>
        <div class="col-xs-12 col-ms-4 col-md-4">
          <h4 class="list-group-item-heading">ลักษณะโดยทั่วไปของรายการ : {{aquisition.descriptionlist}}</h4>
        </div>
        </div>
        </div>
      </div>
    </a>-->
    <div ng-include="'/modules/aquisitions/client/views/tabs/tab.html'"></div>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.aquisitions.$resolved && !vm.aquisitions.length">
    No Aquisitions yet, why don't you <a ui-sref="aquisitions.create">create one</a>?
  </div>
  <div ng-include="'/modules/aquisitions/client/views/button/botton.exportexcel.html'"></div>

</section>