<section>
  <div class="page-header">
    <h2 class="text-center">
      ทะเบียนการจัดซื้อ/จัดจ้าง
    </h2>
  </div>
  <form name="vm.form.generalForm" class="form-horizontal" novalidate>

    <div class="row">
      <div class="col col-md-10">
        <div class="form-group" show-errors>
          <label class="col-sm-2 control-label">วันที่</label>
          <div class="col-sm-3">
            <input type="date" ng-model="vm.general.trnsdate" name="trnsdate" class="form-control" placeholder="วันที่" required>

          </div>
        </div>
      </div>
      <div class="col col-md-2"></div>
    </div>
    <div class="row">
      <div class="col col-md-10">
        <div class="form-group" show-errors>
          <label class="col-sm-2 control-label">รายการจัดซื้อ/จัดจ้าง</label>
          <div class="col-sm-10">
            <input type="text" ng-model="vm.general.itemdesc" name="itemdesc" class="form-control" placeholder="รายการจัดซื้อ/จัดจ้าง"
              required>
          </div>
        </div>
      </div>
      <div class="col col-md-2"></div>
    </div>
    <div class="row">
      <div class="col col-md-10">
        <div class="form-group" show-errors>
          <label class="col-sm-2 control-label">สำนักงาน</label>
          <div class="col-sm-10">
            <select class="form-control" name="department" ng-model="vm.general.department" ng-options="option.name for option in branchesService track by option._id"
              required>        
            </select>
          </div>
        </div>
      </div>
      <div class="col col-md-2"></div>
    </div>
    <div class="row">
      <div class="col col-md-10">
        <div class="form-group" show-errors>
          <label class="col-sm-2 control-label">ผู้รับผิดชอบ</label>
          <div class="col-sm-10">
            <input type="text" ng-model="vm.general.owner" name="owner" class="form-control" placeholder="ผู้รับผิดชอบ" required>
          </div>
        </div>
      </div>
      <div class="col col-md-2"></div>
    </div>
    <div class="row">
      <div class="col col-md-10">
        <div class="form-group" show-errors>
          <label class="col-sm-2 control-label">บันทึกเลขที่</label>
          <div class="col-sm-10">
            <input type="text" ng-model="vm.general.docno" name="docno" class="form-control" placeholder="บันทึกเลขที่" required>
          </div>
        </div>
      </div>
      <div class="col col-md-2"></div>
    </div>
    <div class="row">
      <div class="col col-md-10">
        <div class="ibox float-e-margins border-left border-right border-bottom">
          <div class="ibox-title">
            <h5>ประมาณการค่าจัดซื้อ/จัดจ้าง (ราคากลาง)</h5>
            <div ibox-tools></div>
          </div>
          <div class="ibox-content">
            <div class="row">
              <div class="col col-md-10">
                <div class="form-group" show-errors>
                  <label class="col-sm-2 control-label">จำนวนเงิน</label>
                  <div class="col-sm-10">
                    <input type="number" ng-model="vm.general.estexpense.amount" name="amount" class="form-control" placeholder="จำนวนเงิน" required>
                  </div>
                </div>
              </div>
              <div class="col col-md-2"></div>
            </div>
            <div class="row">
              <div class="col col-md-10">
                <div class="form-group" show-errors>
                  <label class="col-sm-2 control-label">วันที่</label>
                  <div class="col-sm-4">
                    <input type="date" ng-model="vm.general.estexpense.apprvdate" name="apprvdate" class="form-control" placeholder="วันที่"
                      required>
                  </div>
                </div>
              </div>
              <div class="col col-md-2"></div>
            </div>
            <div class="row">
              <div class="col col-md-10">
                <div class="form-group" show-errors>
                  <label class="col-sm-2 control-label">ผู้อนุมัติ</label>
                  <div class="col-sm-10">
                    <input type="text" ng-model="vm.general.estexpense.approver" name="approver" class="form-control" placeholder="ผู้อนุมัติ"
                      required>
                  </div>
                </div>
              </div>
              <div class="col col-md-2"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-md-2"></div>
    </div>
    <div class="row">
      <div class="col col-md-10">
        <div class="form-group" show-errors>
          <label class="col-sm-2 control-label">วิธีซื้อ/จ้าง</label>
          <div class="col-sm-8">
            <select class="form-control" name="processtype" form="carform" ng-model="vm.general.processtype" required>
                <option value="วิธีตกลงราคา">วิธีตกลงราคา</option>
                <option value="วิธีสืบราคา">วิธีสืบราคา</option>
                <option value="วิธีประมูลด้วยระบบอิเล็กทรอนิกส์">วิธีประมูลด้วยระบบอิเล็กทรอนิกส์</option>
                <option value="วิธีกรณีพิเศษ">วิธีกรณีพิเศษ</option>
                <option value="การต่อสัญญา">การต่อสัญญา</option>
                <option value="วิธีฉุกเฉิน">วิธีฉุกเฉิน</option>
                <option value="วิธีพิเศษ (มีประกาศเชิญชวน หรือ ไม่มีประกาศเชิญชวน)">วิธีพิเศษ (มีประกาศเชิญชวน หรือ ไม่มีประกาศเชิญชวน)</option>
                <option value="อื่นๆ">อื่นๆ</option>
              </select>
          </div>
        </div>
      </div>
      <div class="col col-md-2"></div>
    </div>
    <div class="row">
      <div class="col col-md-10">
        <div class="form-group" show-errors>
          <label class="col-sm-2 control-label">ประเภทการซื้อ/จ้าง</label>
          <div class="col-sm-8">
            <select class="form-control" name="methodtype" form="carform" ng-model="vm.general.methodtype" required>
                <option value="งานก่อสร้าง">งานก่อสร้าง</option>
                <option value="การจ้างควบคุมงาน">การจ้างควบคุมงาน</option>
                <option value="การจ้างออกแบบ">การจ้างออกแบบ</option>
                <option value="การจ้างที่ปรึกษา">การจ้างที่ปรึกษา</option>
                <option value="การจ้างงานวิจัยหรือเงินสนับสนุนให้ทุนการวิจัย">การจ้างงานวิจัยหรือเงินสนับสนุนให้ทุนการวิจัย</option>
                <option value="การจ้างพัฒนาระบบคอมพิวเตอร์">การจ้างพัฒนาระบบคอมพิวเตอร์</option>
                <option value="การจัดซื้อ/จัดจ้างที่มิใช่งานก่อสร้าง">การจัดซื้อ/จัดจ้างที่มิใช่งานก่อสร้าง</option>
                <option value="อื่นๆ">อื่นๆ</option>
              </select>
          </div>
        </div>
      </div>
      <div class="col col-md-2"></div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="row">
      <div class="col col-xs-4">
        <button class="btn" ui-sref="generals.list()">ย้อนกลับ</button>
      </div>
      <div class="col col-xs-8 text-right" ng-if="vm.authentication.user.roles[0] === 'superuser' || vm.authentication.user.roles[0] === 'dataentry'">
        <button ng-click="vm.save(vm.form.generalForm.$valid)" class="btn btn-primary">บันทึกแบบร่าง</button>
        <button ng-click="vm.saveToApprove(vm.form.generalForm.$valid)" class="btn btn-primary">บันทึกขออนุมัติ</button>
        <!--<div class="btn-group" uib-dropdown is-open="status.isopen">
          <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
        บันทึกข้อมูล<span class="caret"></span>
      </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li role="menuitem"><a href="#">บันทึกแบบร่าง</a></li>
            <li role="menuitem"><a href="#">บันทึกขออนุมัติ</a></li>
          </ul>
        </div>-->

      </div>

    </div>
    <div class="hr-line-dashed"></div>
  </form>

</section>