<section>
  <div class="page-header">
    <h2 class="text-center">
      ทะเบียนการจัดซื้อ/จัดจ้าง 
    </h2>
  </div>

  <div class="table-responsive">
    <div class="row">
      <div class="col col-xs-10">
        <input type="search" class="form-control " ng-model="searchText" placeholder="ค้นหา">
      </div>
      <div class="col col-md-2" ng-show="vm.authentication.user.roles[0] !== 'approver'">
        <button class="btn btn-primary" ui-sref="generals.create()">สร้างรายการใหม่</button>
      </div>
    </div>
    <br>
  </div>

  <div class="tabs-container">

    <uib-tabset>
      
      <uib-tab ng-if="vm.authentication.user.roles[0] !== 'approver'">
        <uib-tab-heading>
          แบบร่าง
        </uib-tab-heading>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>วันที่</th>
                <th>รายการจัดซื้อ/จัดจ้าง</th>
                <th>ฝ่าย</th>
                <th>
                  <div class="row">
                    <div class="col-xs-12 text-center">ประมาณการค่าจัดซื้อ/จัดจ้าง (ราคากลาง)</div>
                  </div>
                  <div class="row">
                    <div class="col col-xs-4 text-center">จำนวนเงิน</div>
                    <div class="col col-xs-4 text-center">วันที่</div>
                    <div class="col col-xs-4 text-center">ผู้อนุมัติ</div>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="general in vm.generals | filter:{ status: 'draft' } | filter:searchText" ui-sref="generals.edit({ generalId: general._id })">
                <td>
                  {{general.trnsdate | date:'dd/MM/yyyy'}}
                </td>
                <td>{{general.itemdesc}}</td>
                <td>{{general.department.name}}</td>
                <td>
                  <div class="row">
                    <div class="col col-md-4 text-right">{{general.estexpense.amount | number:2}}</div>
                    <div class="col col-md-4 text-center">{{general.estexpense.apprvdate | date:'dd/MM/yyyy'}}</div>
                    <div class="col col-md-4">{{general.estexpense.approver}}</div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </uib-tab>
      <uib-tab>
        <uib-tab-heading>
          รออนุมัติ
        </uib-tab-heading>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>วันที่</th>
                <th>รายการจัดซื้อ/จัดจ้าง</th>
                <th>ฝ่าย</th>
                <th>
                  <div class="row">
                    <div class="col-xs-12 text-center">ประมาณการค่าจัดซื้อ/จัดจ้าง (ราคากลาง)</div>
                  </div>
                  <div class="row">
                    <div class="col col-xs-4 text-center">จำนวนเงิน</div>
                    <div class="col col-xs-4 text-center">วันที่</div>
                    <div class="col col-xs-4 text-center">ผู้อนุมัติ</div>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="general in vm.generals | filter:{ status: 'waiting for approve' } | filter:searchText" ui-sref="generals.view({ generalId: general._id })">
                <td>
                  {{general.trnsdate | date:'dd/MM/yyyy'}}
                </td>
                <td>{{general.itemdesc}}</td>
                <td>{{general.department.name}}</td>
                <td>
                  <div class="row">
                    <div class="col col-md-4 text-right">{{general.estexpense.amount | number:2}}</div>
                    <div class="col col-md-4 text-center">{{general.estexpense.apprvdate | date:'dd/MM/yyyy'}}</div>
                    <div class="col col-md-4">{{general.estexpense.approver}}</div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </uib-tab>
      <uib-tab ng-if="vm.authentication.user.roles[0] !== 'approver'">
        <uib-tab-heading>
          อนุมัติ
        </uib-tab-heading>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>วันที่</th>
                <th>รายการจัดซื้อ/จัดจ้าง</th>
                <th>ฝ่าย</th>
                <th>
                  <div class="row">
                    <div class="col-xs-12 text-center">ประมาณการค่าจัดซื้อ/จัดจ้าง (ราคากลาง)</div>
                  </div>
                  <div class="row">
                    <div class="col col-xs-4 text-center">จำนวนเงิน</div>
                    <div class="col col-xs-4 text-center">วันที่</div>
                    <div class="col col-xs-4 text-center">ผู้อนุมัติ</div>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="general in vm.generals | filter:{ status: 'approved' } | filter:searchText" ui-sref="generals.view({ generalId: general._id })">
                <td>
                  {{general.trnsdate | date:'dd/MM/yyyy'}}
                </td>
                <td>{{general.itemdesc}}</td>
                <td>{{general.department.name}}</td>
                <td>
                  <div class="row">
                    <div class="col col-md-4 text-right">{{general.estexpense.amount | number:2}}</div>
                    <div class="col col-md-4 text-center">{{general.estexpense.apprvdate | date:'dd/MM/yyyy'}}</div>
                    <div class="col col-md-4">{{general.estexpense.approver}}</div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </uib-tab>
      <uib-tab ng-if="vm.authentication.user.roles[0] !== 'approver'">
        <uib-tab-heading>
          รอแก้ไข
        </uib-tab-heading>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>วันที่</th>
                <th>รายการจัดซื้อ/จัดจ้าง</th>
                <th>ฝ่าย</th>
                <th>
                  <div class="row">
                    <div class="col-xs-12 text-center">ประมาณการค่าจัดซื้อ/จัดจ้าง (ราคากลาง)</div>
                  </div>
                  <div class="row">
                    <div class="col col-xs-4 text-center">จำนวนเงิน</div>
                    <div class="col col-xs-4 text-center">วันที่</div>
                    <div class="col col-xs-4 text-center">ผู้อนุมัติ</div>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="general in vm.generals | filter:{ status: 'rejected' } | filter:searchText" ui-sref="generals.edit({ generalId: general._id })">
                <td>
                  {{general.trnsdate | date:'dd/MM/yyyy'}}
                </td>
                <td>{{general.itemdesc}}</td>
                <td>{{general.department.name}}</td>
                <td>
                  <div class="row">
                    <div class="col col-md-4 text-right">{{general.estexpense.amount | number:2}}</div>
                    <div class="col col-md-4 text-center">{{general.estexpense.apprvdate | date:'dd/MM/yyyy'}}</div>
                    <div class="col col-md-4">{{general.estexpense.approver}}</div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </uib-tab>
      <uib-tab>
        <uib-tab-heading>
          เสร็จสมบูรณ์
        </uib-tab-heading>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>วันที่</th>
                <th>รายการจัดซื้อ/จัดจ้าง</th>
                <th>ฝ่าย</th>
                <th>
                  <div class="row">
                    <div class="col-xs-12 text-center">ประมาณการค่าจัดซื้อ/จัดจ้าง (ราคากลาง)</div>
                  </div>
                  <div class="row">
                    <div class="col col-xs-4 text-center">จำนวนเงิน</div>
                    <div class="col col-xs-4 text-center">วันที่</div>
                    <div class="col col-xs-4 text-center">ผู้อนุมัติ</div>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="general in vm.generals | filter:{ status: 'completed' } | filter:searchText" ui-sref="generals.view({ generalId: general._id })">
                <td>
                  {{general.trnsdate | date:'dd/MM/yyyy'}}
                </td>
                <td>{{general.itemdesc}}</td>
                <td>{{general.department.name}}</td>
                <td>
                  <div class="row">
                    <div class="col col-md-4 text-right">{{general.estexpense.amount | number:2}}</div>
                    <div class="col col-md-4 text-center">{{general.estexpense.apprvdate | date:'dd/MM/yyyy'}}</div>
                    <div class="col col-md-4">{{general.estexpense.approver}}</div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </uib-tab>
    </uib-tabset>

  </div>
  <div class="alert alert-warning text-center" ng-if="vm.generals.$resolved && !vm.generals.length">
    No Generals yet, why don't you <a ui-sref="generals.create">create one</a>?
  </div>
</section>