<section>
  <div class="page-header">
    <h2 class="text-center">
      ทะเบียนการจัดซื้อ/จัดจ้าง
    </h2>
  </div>
  <form name="vm.form.generalForm" class="form-horizontal"  novalidate>
    <div class="row">

      <div class="col col-md-10">
        <div class="form-group">
          <label class="col-sm-2 control-label">วันที่</label>
          <div class="col-sm-3">
            <p class="form-control-static"> {{vm.general.trnsdate | date:'dd/MM/yyyy'}} </p>
          </div>
        </div>
      </div>
      <div class="col col-md-2"></div>
    </div>
    <div class="row">

      <div class="col col-md-10">
        <div class="form-group">
          <label class="col-sm-2 control-label">รายการจัดซื้อ/จัดจ้าง</label>
          <div class="col-sm-10">
            <p class="form-control-static"> {{vm.general.itemdesc}} </p>
          </div>
        </div>
      </div>
      <div class="col col-md-2"></div>
    </div>
    <div class="row">

      <div class="col col-md-10">
        <div class="form-group">
          <label class="col-sm-2 control-label">ฝ่าย/สำนักงาน</label>
          <div class="col-sm-10">
            <p class="form-control-static"> {{vm.general.department}} </p>
          </div>
        </div>
      </div>
      <div class="col col-md-2"></div>
    </div>
    <div class="row">

      <div class="col col-md-10">
        <div class="form-group">
          <label class="col-sm-2 control-label">ผู้รับผิดชอบ</label>
          <div class="col-sm-10">
            <p class="form-control-static"> {{vm.general.owner}} </p>
          </div>
        </div>
      </div>
      <div class="col col-md-2"></div>
    </div>
    <div class="row">

      <div class="col col-md-10">
        <div class="form-group">
          <label class="col-sm-2 control-label">บันทึกเลขที่</label>
          <div class="col-sm-10">
            <p class="form-control-static"> {{vm.general.docno}} </p>
          </div>
        </div>
      </div>
      <div class="col col-md-2"></div>
    </div>
    <div class="row">

      <div class="col col-md-10">
        <div class="ibox float-e-margins border-left border-right border-bottom">
          <div class="ibox-title">
            <h5>ประมาณการค่าจัดซื้อ/จัดจ้าง (ราคากลาง)</h5>

            <div ibox-tools></div>
          </div>
          <div class="ibox-content">
            <div class="row">

              <div class="col col-md-10">
                <div class="form-group">
                  <label class="col-sm-2 control-label">จำนวนเงิน</label>
                  <div class="col-sm-10">
                    <p class="form-control-static"> {{vm.general.estexpense.amount | number:2}} (บาท) </p>
                  </div>
                </div>
              </div>
              <div class="col col-md-2"></div>
            </div>
            <div class="row">

              <div class="col col-md-10">
                <div class="form-group">
                  <label class="col-sm-2 control-label">วันที่</label>
                  <div class="col-sm-4">
                    <p class="form-control-static"> {{vm.general.estexpense.apprvdate | date:'dd/MM/yyyy'}} </p>
                  </div>
                </div>
              </div>
              <div class="col col-md-2"></div>
            </div>
            <div class="row">

              <div class="col col-md-10">
                <div class="form-group">
                  <label class="col-sm-2 control-label">ผู้อนุมัติ</label>
                  <div class="col-sm-10">
                    <p class="form-control-static"> {{vm.general.estexpense.approver}} </p>
                  </div>
                </div>
              </div>
              <div class="col col-md-2"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-md-2"></div>
    </div>
    <div class="row">

      <div class="col col-md-10">
        <div class="form-group">
          <label class="col-sm-2 control-label">วิธีซื้อ/จ้าง</label>
          <div class="col-sm-8">
            <p class="form-control-static"> {{vm.general.processtype}} </p>
          </div>
        </div>
      </div>
      <div class="col col-md-2"></div>
    </div>
    <div class="row">

      <div class="col col-md-10">
        <div class="form-group">
          <label class="col-sm-2 control-label">ประเภทการซื้อ/จ้าง</label>
          <div class="col-sm-8">
            <p class="form-control-static"> {{vm.general.methodtype}}</p>
          </div>
        </div>
      </div>
      <div class="col col-md-2"></div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="row">
      <div class="col col-xs-10">
         <button class="btn" ui-sref="generals.list()">ย้อนกลับ</button>
      </div>
      <div class="col col-xs-2 text-right" ng-if()>
        <button ng-click="vm.rejected()"  class="btn btn-danger">ไม่อนุมัติ</button>
        <button ng-click="vm.approved()" class="btn btn-primary">อนุมัติ</button>
      </div>

    </div>
    <div class="hr-line-dashed"></div>
  </form>
</section>