<section>
  <div class="page-header">
    <h2 class="text-center">
      ทะเบียนการจัดซื้อ/จัดจ้าง
    </h2>
  </div>
  <form name="vm.form.generalForm" class="form-horizontal" novalidate>
    <div class="row">
      <div class="col col-md-6">
        <div class="row">

          <div class="col col-md-10">
            <div class="form-group">
              <label class="col-sm-4 control-label">วันที่</label>
              <div class="col-sm-8">
                <p class="form-control-static"> {{vm.general.trnsdate | date:'dd/MM/yyyy'}} </p>
              </div>
            </div>
          </div>
          <div class="col col-md-2"></div>
        </div>
      </div>
      <div class="col col-md-6">
        <div class="row">

          <div class="col col-md-10">
            <div class="form-group">
              <label class="col-sm-4 control-label">บันทึกเลขที่</label>
              <div class="col-sm-8">
                <p class="form-control-static"> {{vm.general.docno}} </p>
              </div>
            </div>
          </div>
          <div class="col col-md-2"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-md-6">
        <div class="row">

          <div class="col col-md-10">
            <div class="form-group">
              <label class="col-sm-4 control-label">สำนักงาน</label>
              <div class="col-sm-8">
                <p class="form-control-static"> {{vm.general.department.name}} </p>
              </div>
            </div>
          </div>
          <div class="col col-md-2"></div>
        </div>
      </div>
      <div class="col col-md-6">
        <div class="row">

          <div class="col col-md-10">
            <div class="form-group">
              <label class="col-sm-4 control-label">ผู้รับผิดชอบ</label>
              <div class="col-sm-8">
                <p class="form-control-static"> {{vm.general.owner}} </p>
              </div>
            </div>
          </div>
          <div class="col col-md-2"></div>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col col-md-10">
        <div class="form-group">
          <label class="col-sm-2 control-label">รายการจัดซื้อ/จัดจ้าง</label>
          <div class="col-sm-10">
            <p class="form-control-static"> {{vm.general.itemdesc}} </p>
          </div>
        </div>
      </div>
      <div class="col col-md-2"></div>
    </div>
    <div class="row">
      <div class="col col-md-10">
        <div class="ibox float-e-margins border-left border-right border-bottom">
          <div class="ibox-title">
            <h5>ประมาณการค่าจัดซื้อ/จัดจ้าง (ราคากลาง)</h5>

            <div ibox-tools></div>
          </div>
          <div class="ibox-content">
            <div class="row">

              <div class="col col-md-4">
                <div class="form-group">
                  <label class="col-sm-4 control-label">จำนวนเงิน</label>
                  <div class="col-sm-8">
                    <p class="form-control-static"> {{vm.general.estexpense.amount | number:2}} (บาท) </p>
                  </div>
                </div>
              </div>
              <div class="col col-md-4">
                <div class="form-group">
                  <label class="col-sm-4 control-label">วันที่</label>
                  <div class="col-sm-8">
                    <p class="form-control-static"> {{vm.general.estexpense.apprvdate | date:'dd/MM/yyyy'}} </p>
                  </div>
                </div>
              </div>
              <div class="col col-md-4">
                <div class="form-group">
                  <label class="col-sm-4 control-label">ผู้อนุมัติ</label>
                  <div class="col-sm-8">
                    <p class="form-control-static"> {{vm.general.estexpense.approver}} </p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col col-md-2"></div>
    </div>
    <div class="row">
      <div class="col col-md-4">
        <div class="form-group">
          <label class="col-sm-4 control-label">วิธีซื้อ/จ้าง</label>
          <div class="col-sm-8">
            <p class="form-control-static"> {{vm.general.processtype}} </p>
          </div>
        </div>
      </div>
      <div class="col col-md-8">
        <div class="form-group">
          <label class="col-sm-4 control-label">ประเภทการซื้อ/จ้าง</label>
          <div class="col-sm-8">
            <p class="form-control-static"> {{vm.general.methodtype}}</p>
          </div>
        </div>
      </div>
    </div>

    <div ng-include="'/modules/generals/client/views/ibox/web-bam.html'"></div>
    <div ng-include="'/modules/generals/client/views/ibox/purchase-approv.html'"></div>
    <div ng-include="'/modules/generals/client/views/ibox/purchase-winer.html'"></div>
    <div ng-include="'/modules/generals/client/views/ibox/po.html'"></div>
    <div ng-include="'/modules/generals/client/views/ibox/ncc.html'"></div>


    <div ng-include="'/modules/generals/client/views/form/form1.html'" ng-if="(vm.general.status === 'approved' || vm.general.status === 'completed1' || vm.general.status === 'completed2') && vm.general.estexpense.amount >= 100000 && vm.general.methodtype === 'งานก่อสร้าง'">
    </div>
    <div ng-include="'/modules/generals/client/views/form/form2.html'" ng-if="(vm.general.status === 'approved' || vm.general.status === 'completed1' || vm.general.status === 'completed2') && vm.general.estexpense.amount >= 100000 && vm.general.methodtype === 'การจ้างควบคุมงาน'">
    </div>
    <div ng-include="'/modules/generals/client/views/form/form3.html'" ng-if="(vm.general.status === 'approved' || vm.general.status === 'completed1' || vm.general.status === 'completed2') && vm.general.estexpense.amount >= 100000 && vm.general.methodtype === 'การจ้างออกแบบ'">
    </div>
    <div ng-include="'/modules/generals/client/views/form/form4.html'" ng-if="(vm.general.status === 'approved' || vm.general.status === 'completed1' || vm.general.status === 'completed2') && vm.general.estexpense.amount >= 100000 && vm.general.methodtype === 'การจ้างที่ปรึกษา'">
    </div>
    <div ng-include="'/modules/generals/client/views/form/form5.html'" ng-if="(vm.general.status === 'approved' || vm.general.status === 'completed1' || vm.general.status === 'completed2') && vm.general.estexpense.amount >= 100000 && vm.general.methodtype === 'การจ้างงานวิจัยหรือเงินสนับสนุนให้ทุนการวิจัย'">
    </div>
    <div ng-include="'/modules/generals/client/views/form/form6.html'" ng-if="(vm.general.status === 'approved' || vm.general.status === 'completed1' || vm.general.status === 'completed2') && vm.general.estexpense.amount >= 100000 && vm.general.methodtype === 'การจ้างพัฒนาระบบคอมพิวเตอร์'">
    </div>
    <div ng-include="'/modules/generals/client/views/form/form7.html'" ng-if="(vm.general.status === 'approved' || vm.general.status === 'completed1' || vm.general.status === 'completed2') && vm.general.estexpense.amount >= 100000 && vm.general.methodtype === 'การจัดซื้อ/จัดจ้างที่มิใช่งานก่อสร้าง'">
    </div>
    <div class="hr-line-dashed"></div>
    <div class="row">
      <div class="col col-xs-8">
        <button class="btn" ui-sref="generals.list()">ย้อนกลับ</button>
      </div>

      <div class="col col-xs-4 text-right" ng-if="vm.general.status === 'waiting for approve' && (vm.authentication.user.roles[0] === 'approver' || vm.authentication.user.roles[0] === 'superuser') ">
        <button ng-click="vm.rejected()" class="btn btn-danger">ส่งกลับแก้ไข</button>
        <button ng-click="vm.approved()" class="btn btn-primary">อนุมัติ</button>
      </div>
      <div class="col col-xs-4 text-right" ng-if="vm.general.status === 'approved' && (vm.authentication.user.roles[0] === 'dataentry' || vm.authentication.user.roles[0] === 'superuser')">
        <button ng-click="vm.save(vm.form.generalForm.$valid)" class="btn btn-primary">บันทึกแบบร่าง</button>
        <button ng-click="vm.saveToCompleted(vm.form.generalForm.$valid)" class="btn btn-primary">บันทึกข้อมูล</button>
      </div>
      <div class="col col-xs-4 text-right" ng-if="(vm.general.status === 'completed1' || vm.general.status === 'completed2') && (vm.authentication.user.roles[0] === 'superuser')">
        <button ng-click="vm.approved()" class="btn btn-primary">กลับสู่สถานะอนุมัติ</button>
      </div>
    </div>
    <div class="hr-line-dashed"></div>
  </form>
</section>