<div class="row" ng-if="(vm.general.status === 'approved' || vm.general.status === 'completed1' || vm.general.status === 'completed2')">
    <div class="col col-md-10">
        <div class="ibox float-e-margins border-left border-right border-bottom">
            <div class="ibox-title">
                <h5>อนุมัติจัดซื้อ/จัดจ้าง</h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col col-md-10">
                        <div class="form-group" show-errors ng-if="vm.general.status === 'approved'">
                            <label class="col-sm-2 control-label">จำนวนเงิน</label>
                            <div class="col-sm-10">
                                <input type="number" ng-model="vm.general.purchase.amount" name="amount" class="form-control" placeholder="จำนวนเงิน" required>
                            </div>
                        </div>
                        <div class="form-group" ng-if="vm.general.status === 'completed1' || vm.general.status === 'completed2'">
                            <label class="col-sm-2 control-label">จำนวนเงิน</label>
                            <div class="col-sm-10">
                                <p class="form-control-static"> {{vm.general.purchase.amount | number:2}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-2"></div>
                </div>
                <div class="row">
                    <div class="col col-md-10">
                        <div class="form-group" show-errors ng-if="vm.general.status === 'approved'">
                            <label class="col-sm-2 control-label">วันที่</label>
                            <div class="col-sm-4">
                                <input type="date" ng-model="vm.general.purchase.apprvdate" name="apprvdate" class="form-control" placeholder="วันที่" required>
                            </div>
                        </div>
                        <div class="form-group" ng-if="vm.general.status === 'completed1' || vm.general.status === 'completed2'">
                            <label class="col-sm-2 control-label">วันที่</label>
                            <div class="col-sm-4">
                                <p class="form-control-static"> {{vm.general.purchase.apprvdate | date:'dd/MM/yyyy'}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-2"></div>
                </div>
                <div class="row">
                    <div class="col col-md-10">
                        <div class="form-group" show-errors ng-if="vm.general.status === 'approved'">
                            <label class="col-sm-2 control-label">ผู้อนุมัติ</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="vm.general.purchase.approver" name="approver" class="form-control" placeholder="ผู้อนุมัติ"
                                    required>
                            </div>
                        </div>
                        <div class="form-group" ng-if="vm.general.status === 'completed1' || vm.general.status === 'completed2'">
                            <label class="col-sm-2 control-label">ผู้อนุมัติ</label>
                            <div class="col-sm-10">
                                <p class="form-control-static"> {{vm.general.purchase.approver}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-2"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-md-2"></div>
</div>