<div class="tabs-container" >
    <uib-tabset>
        <uib-tab ng-repeat="tab in vm.tabs">
            <uib-tab-heading>
                <div ng-click="vm.status(tab)">{{tab.name}}</div>
            </uib-tab-heading>
            <div class="panel-body">   
                  
                <!--{{( tab.status === 'draft' ||  tab.status === 'rejected' ? 'ui-sref="generals.edit({ generalId: general._id })"': 'ui-sref="generals.view({ generalId: general._id })"')}}      -->
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>วัน/เดือน/ปี ที่ทำรายการ</th>
                            <th>คู่สัญญาที่เกี่ยวข้องและความสัมพันธ์</th>
                            <th>ลักษณะโดยทั่วไปของรายการ</th>
                            <th>รายละเอียดและมูลค่าของสินทรัพย์ที่ได้มา</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--{{general.department._id}} === {{vm.authentication.user.branch}}-->
                        <tr ng-repeat="aquisition in vm.aquisitions | filter:{ status: tab.status }" ui-sref="{{tab.uriref}}"> <!--ng-if="general.department._id === vm.authentication.user.branch"-->
                            <td>
                                {{aquisition.startdate | date:'dd/MM/yyyy'}} 
                            </td>
                            <td>{{aquisition.relations}}</td>
                            <td>{{aquisition.descriptionlist}}</td>
                            <td>{{aquisition.descriptionproduct}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </uib-tab>
    </uib-tabset>
</div>