<section ng-init="vm.init()" style="min-height:1600px;">
  <div class="page-header">
    <h1>{{vm.purchase._id ? 'Edit Purchase' : 'New Purchase'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.purchaseForm" class="form-horizontal" ng-submit="vm.save(vm.form.purchaseForm.$valid)" novalidate>
      <fieldset>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group" show-errors>
              <label class="control-label" for="client">Client</label>
              <input name="client" type="text" ng-model="vm.purchase.client" id="client" class="form-control" placeholder="ชื่อผู้ขาย" required>
              <div ng-messages="vm.form.purchaseForm.client.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Purchase Client is required.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
          </div>
          <div class="col-md-3">
          </div>
          <div class="col-md-3">
            <div class="form-group" show-errors>
              <label class="control-label" for="docno">Doc No</label>
              <input name="docno" type="text" ng-model="vm.purchase.docno" id="docno" class="form-control" placeholder="Doc No" required>
              <div ng-messages="vm.form.purchaseForm.docno.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Purchase docdate is required.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label" for="address">Address</label>
              <textarea name="docdate" type="text" ng-model="vm.purchase.client.address" id="address" class="form-control" placeholder="Address"
              />
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label" for="brunch">Brunch</label>
              <input name="docdate" type="text" ng-model="vm.purchase.client.brunch" id="brunch" class="form-control" placeholder="Brunch">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label" for="taxid">Tax ID</label>
              <input name="docdate" type="text" ng-model="vm.purchase.client.taxid" id="taxid" class="form-control" placeholder="Tax ID">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label" for="docdate">Doc Date</label>
              <input name="docdate" type="date" ng-model="vm.purchase.docdate" ng-change="vm.creditdayChanged()" id="docdate" class="form-control"
                placeholder="Doc Date">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label" for="telofficeno">Phone</label>
              <input name="telofficeno" type="text" ng-model="vm.purchase.client.telofficeno" id="telofficeno" class="form-control" placeholder="Phone">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label" for="creditday">Credit Day</label>
              <input name="creditday" type="number" ng-model="vm.purchase.creditday" ng-change="vm.creditdayChanged()" id="creditday" class="form-control"
                placeholder="Credit Day">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label" for="refno">Ref No</label>
              <input name="refno" type="text" ng-model="vm.purchase.refno" id="refno" class="form-control" placeholder="Ref No">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label" for="drilldate">Drill Date</label>
              <input name="drildate" type="date" ng-model="vm.purchase.drilldate" id="drildate" class="form-control" placeholder="Drill Date"
                readonly>
            </div>
            <div class="form-group">
              <label class="control-label" for="refno">Is Include Vat</label>
              <input name="isincludevat" type="checkbox" value=false ng-model="vm.purchase.isincludevat" id="isincludevat">
            </div>
          </div>
        </div>
        <div class="form-group">
          <table class="table">
            <thead style="background-color:lightgray;">
              <tr>
                <th>No.</th>
                <th>Product name</th>
                <th>QTY</th>
                <th>Price</th>
                <th>Amount</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="product in vm.purchase.items">
                <td>
                  <p>{{$index+1}}</p>
                </td>
                <td>
                  <input name="product" type="text" ng-model="product.product" id="total" class="form-control" placeholder="ชื่อสินค้า"
                    ng-change="vm.calculate(product)">
                </td>
                <td><input name="qty" type="number" ng-model="product.qty" id="total" class="form-control" placeholder="QTY"
                    ng-change="vm.calculate(product)"></td>
                <td><input name="unitprice" type="number" ng-change="vm.calculate(product)" ng-model="product.unitprice" id="total"
                    class="form-control" placeholder="price"></td>
                <td>
                  <p  ng-bind="product.amount| number:2"></p>
                </td>
                <td style="text-align:right;">
                  <button type="button" class="btn btn-danger" ng-click="vm.removeProduct($index)">Remove</button>
                </td>
              </tr>
            </tbody>
          </table>
          <button type="button" class="btn btn-default" ng-click="vm.addItem()">Add</button>
        </div>
        <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-lg-3"></div>
          <div class="col-lg-3"></div>
          <div class="col-lg-3">
            <div class="form-group">
              <label class="control-label" for="amount">Amount</label>
              <p ng-bind="vm.purchase.amount | number:2" />
            </div>
            <div class="form-group">
              <label class="control-label" for="discountamount">Discount amount</label>
              <input name="discountamount" type="number" ng-model="vm.purchase.discountamount" id="discountamount" class="form-control"
                placeholder="Discount amount">
            </div>
            <div class="form-group" ng-show="vm.purchase.discountamount">
              <label class="control-label" for="amount">Amount after discount</label>
              <p ng-bind="vm.purchase.amountafterdiscount" />-
            </div>
            <div class="form-group">
              <label class="control-label" for="vatamount">Vat Amount</label>
              <p ng-bind="vm.purchase.vatamount | number:2" />
            </div>
            <div class="form-group">
              <label class="control-label" for="vatamount ">Wht Amount</label>
              <p ng-bind="vm.purchase.whtamount | number:2" />
            </div>
            <div class="form-group">
              <label class="control-label" for="vatamount">Total Amount</label>
              <p ng-bind="vm.purchase.totalamount | number:2" />
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" >{{vm.purchase._id ? 'Update' : 'Create'}}</button>
            </div>
            <div ng-show="vm.error" class="text-danger">
              <strong ng-bind="vm.error"></strong>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</section>