<section>
  <div class="page-header">
    <h2>ทะเบียนการจัดซื้อ/จัดจ้าง ({{vm.user.branch}})
      <div class="pull-right" ng-hide="!vm.authentication.user">
        <a class="btn btn-primary" ui-sref="purchases.create">
          <span>Create</span>
        </a>
      </div>
    </h2>
    <form role="search" class="navbar-form-custom" method="post" action="">
      <div class="form-group">
        <input type="text" placeholder="Search for something..." ng-model="topsearch" class="form-control" name="top-search" id="top-search">
      </div>
    </form>
  </div>


  <div class="list-group" ng-show="vm.purchases.length > 0">
    <table class="table">
      <thead>
        <tr>
          <th>No.</th>
          <th>เลขที่ใยสั่งซื้อ</th>
          <th>ชื่อผู้ขาย</th>
          <th>ยอดต้นทุน</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="purchase in vm.purchases | orderBy:'-docdate && docno' | filter:topsearch " ui-sref="purchases.edit({ purchaseId: purchase._id })">
          <td>
            <p class="list-group-item-heading">{{$index+1}}</p>
          </td>
          <td>
            <p class="list-group-item-heading">{{purchase.docno}}</p>
          </td>
          <td>
            <p class="list-group-item-heading">{{purchase.client}}</p>
          </td>
          <td>
            <p class="list-group-item-heading">{{purchase.amount | number:2}}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.purchases.$resolved && !vm.purchases.length">
    No Purchases yet, why don't you <a ui-sref="purchases.create">create one</a>?
  </div>
</section>