<section>
  <div class="page-header">
    <h1>Roles</h1>
  </div>
  <div class="table-responsive">
    <div class="row">
      <div class="col col-xs-10">
        <input type="search" class="form-control " ng-model="searchText" placeholder="ค้นหา">
      </div>
      <div class="col col-md-2" ng-if="vm.authentication.user.roles[0] === 'admin'">
        <button class="btn btn-primary" ui-sref="roles.create()">สร้างรายการใหม่</button>
      </div>
    </div>
    <br>
  </div>
  <div class="list-group">
    <a ng-repeat="role in vm.roles"
       ui-sref="roles.view({ roleId: role._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="role.created | date:'mediumDate'"></span>
        by
        <span ng-if="role.user" ng-bind="role.user.displayName"></span>
        <span ng-if="!role.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="role.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.roles.$resolved && !vm.roles.length">
    No Roles yet, why don't you <a ui-sref="roles.create">create one</a>?
  </div>
</section>
