<div class="ibox float-e-margins border-left border-right border-bottom">
    <div class="ibox-title">
        <h5>ตารางแสดงวงเงินงบประมาณที่ได้รับจัดสรรและราคากลางในงานจ้างก่อสร้าง</h5>
        <div ibox-tools></div>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col col-md-10">
                <div class="form-group " show-errors>
                    <label class="col-sm-3 control-label">1. ชื่อโครงการ</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="vm.general.form1.field1.field11" name="1-1" class="form-control" placeholder="ชื่อโครงการ" required>
                    </div>
                </div>
            </div>
            <div class="col col-md-2"></div>
        </div>
        <div class="row">
            <div class="col col-md-10">
                <div class="form-group" show-errors>
                    <label class="col-sm-3 control-label text-right">/หน่วยงานเจ้าของโครงการ</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="vm.general.form1.field1.field12" name="1-2" class="form-control" placeholder="หน่วยงานเจ้าของโครงการ" required>
                    </div>
                </div>
            </div>
            <div class="col col-md-2"></div>
        </div>
        <div class="row">
            <div class="col col-md-10">
                <div class="form-group" show-errors>
                    <label class="col-sm-3 control-label">2. วงเงินงบประมาณที่ได้รับจัดสรร</label>
                    <div class="col-sm-9">
                        <input type="number" ng-model="vm.general.form1.field2" name="2" class="form-control" placeholder="บาท" required>
                    </div>
                </div>
            </div>
            <div class="col col-md-2"></div>
        </div>
        <div class="row">
            <div class="col col-md-10">
                <div class="form-group" show-errors>
                    <label class="col-sm-3 control-label">3. ลักณะงานโดยสังเขป</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="vm.general.form1.field3" name="3" class="form-control" placeholder="ลักณะงานโดยสังเขป" required>
                    </div>
                </div>
            </div>
            <div class="col col-md-2"></div>
        </div>
        <div class="row">
            <div class="col col-md-10">
                <div class="form-group" show-errors>
                    <label class="col-sm-3 control-label">4. ราคากลางคำนวณ ณ วันที่</label>
                    <div class="col-sm-9">
                        <input type="date" ng-model="vm.general.form1.field4.field41" name="4-1" class="form-control" placeholder="ณ วันที่" required>
                    </div>
                </div>
            </div>
            <div class="col col-md-2">
            </div>
        </div>
        <div class="row">
            <div class="col col-md-10">
                <div class="form-group" show-errors>
                    <label class="col-sm-3 control-label">เป็นเงิน</label>
                    <div class="col-sm-9">
                        <input type="number" ng-model="vm.general.form1.field4.field42" name="4-2" class="form-control" placeholder="บาท" required>
                    </div>
                </div>
            </div>
            <div class="col col-md-2"></div>
        </div>
        <div class="row">
            <div class="col col-md-10">
                <div class="form-group" show-errors>
                    <label class="col-sm-3 control-label">5. บัญชีประมาณการราคากลาง</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="vm.general.form1.field5.field50" name="5" class="form-control" placeholder="บัญชีประมาณการราคากลาง" required>
                    </div>
                </div>
            </div>
            <div class="col col-md-2">

            </div>
        </div>

        <div class="row">
            <div class="col col-md-10">
                <div class="form-group" show-errors>
                    <label class="col-sm-3 control-label">5.1</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="vm.general.form1.field5.field51" name="5-1" class="form-control" placeholder="..................." required>
                    </div>
                </div>
            </div>
            <div class="col col-md-2"></div>
        </div>
        <div class="row">
            <div class="col col-md-10">
                <div class="form-group" show-errors>
                    <label class="col-sm-3 control-label">5.2</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="vm.general.form1.field5.field52" name="5-2" class="form-control" placeholder="..................." required>
                    </div>
                </div>
            </div>
            <div class="col col-md-2"></div>
        </div>
        <div class="row">
            <div class="col col-md-10">
                <div class="form-group" show-errors>
                    <label class="col-sm-3 control-label">5.3</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="vm.general.form1.field5.field53" name="5-3" class="form-control" placeholder="..................." required>
                    </div>
                </div>
            </div>
            <div class="col col-md-2"></div>
        </div>
        <div class="row">
            <div class="col col-md-10">
                <div class="form-group" show-errors>
                    <label class="col-sm-3 control-label">5.4</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="vm.general.form1.field5.field54" name="5-4" class="form-control" placeholder="..................." required>
                    </div>
                </div>
            </div>
            <div class="col col-md-2"></div>
        </div>
        <div class="row">
            <div class="col col-md-10">
                <div class="form-group" show-errors>
                    <label class="col-sm-3 control-label">6. รายชื่อคณะกรรมการกำหนดราคากลาง</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="vm.general.form1.field6" name="field6" class="form-control" placeholder="รายชื่อคณะกรรมการกำหนดราคากลาง" required>
                    </div>
                </div>
            </div>
            <div class="col col-md-2"></div>
        </div>


    </div>
</div>