<div class="ibox float-e-margins border-left border-right border-bottom">
    <div class="ibox-title">
        <h5>ตารางแสดงวงเงินงบประมาณที่ได้รับจัดสรรและราคากลางในงานจ้างก่อสร้าง</h5>
        <div ibox-tools></div>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col col-md-10">
                <div class="form-group " show-errors ng-if="vm.general.status === 'approved'">
                    <label class="col-sm-3 control-label">1. ชื่อโครงการ</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="vm.general.form1.field1.field11" name="field11" class="form-control" placeholder="ชื่อโครงการ">
                    </div>
                </div>
                <div class="form-group" ng-if="vm.general.status === 'completed1' || vm.general.status === 'completed2'">
                    <label class="col-sm-3 control-label">1. ชื่อโครงการ</label>
                    <div class="col-sm-9">
                        <p class="form-control-static"> {{vm.general.form1.field1.field11}} </p>
                    </div>
                </div>
            </div>
            <div class="col col-md-2"></div>
        </div>
        <div class="row">
            <div class="col col-md-10">
                <div class="form-group" show-errors ng-if="vm.general.status === 'approved'">
                    <label class="col-sm-3 control-label text-right">/หน่วยงานเจ้าของโครงการ</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="vm.general.form1.field1.field12" name="field12" class="form-control" placeholder="หน่วยงานเจ้าของโครงการ">
                    </div>
                </div>
                <div class="form-group" ng-if="vm.general.status === 'completed1' || vm.general.status === 'completed2'">
                    <label class="col-sm-3 control-label text-right">/หน่วยงานเจ้าของโครงการ</label>
                    <div class="col-sm-9">
                        <p class="form-control-static"> {{vm.general.form1.field1.field12}} </p>
                    </div>
                </div>
            </div>
            <div class="col col-md-2"></div>
        </div>
        <div class="row">
            <div class="col col-md-10">
                <div class="form-group" show-errors ng-if="vm.general.status === 'approved'">
                    <label class="col-sm-3 control-label">2. วงเงินงบประมาณที่ได้รับจัดสรร</label>
                    <div class="col-sm-9">
                        <input type="number" ng-model="vm.general.form1.field2" name="field2" class="form-control" placeholder="บาท">
                    </div>
                </div>
                <div class="form-group" ng-if="vm.general.status === 'completed1' || vm.general.status === 'completed2'">
                    <label class="col-sm-3 control-label">2. วงเงินงบประมาณที่ได้รับจัดสรร</label>
                    <div class="col-sm-9">
                        <p class="form-control-static"> {{vm.general.form1.field2}} </p>
                    </div>
                </div>
            </div>
            <div class="col col-md-2"></div>
        </div>
        <div class="row">
            <div class="col col-md-10">
                <div class="form-group" show-errors ng-if="vm.general.status === 'approved'">
                    <label class="col-sm-3 control-label">3. ลักณะงานโดยสังเขป</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="vm.general.form1.field3" name="field3" class="form-control" placeholder="ลักณะงานโดยสังเขป">
                    </div>
                </div>
                <div class="form-group" ng-if="vm.general.status === 'completed1' || vm.general.status === 'completed2'">
                    <label class="col-sm-3 control-label">3. ลักณะงานโดยสังเขป</label>
                    <div class="col-sm-9">
                        <p class="form-control-static"> {{vm.general.form1.field3}} </p>
                    </div>
                </div>
            </div>
            <div class="col col-md-2"></div>
        </div>
        <div class="row">
            <div class="col col-md-10">
                <div class="form-group" show-errors ng-if="vm.general.status === 'approved'">
                    <label class="col-sm-3 control-label">4. ราคากลางคำนวณ ณ วันที่</label>
                    <div class="col-sm-9">
                        <input type="date" ng-model="vm.general.form1.field4.field41" name="field41" class="form-control" placeholder="ณ วันที่">
                    </div>
                </div>
                <div class="form-group" ng-if="vm.general.status === 'completed1' || vm.general.status === 'completed2'">
                    <label class="col-sm-3 control-label">4. ราคากลางคำนวณ ณ วันที่</label>
                    <div class="col-sm-9">
                        <p class="form-control-static"> {{vm.general.form1.field4.field41 | date:'dd/MM/yyyy'}} </p>
                    </div>
                </div>
            </div>
            <div class="col col-md-2">
            </div>
        </div>
        <div class="row">
            <div class="col col-md-10">
                <div class="form-group" show-errors ng-if="vm.general.status === 'approved'">
                    <label class="col-sm-3 control-label">เป็นเงิน</label>
                    <div class="col-sm-9">
                        <input type="number" ng-model="vm.general.form1.field4.field42" name="field42" class="form-control" placeholder="บาท">
                    </div>
                </div>
                <div class="form-group" ng-if="vm.general.status === 'completed1' || vm.general.status === 'completed2'">
                    <label class="col-sm-3 control-label">เป็นเงิน</label>
                    <div class="col-sm-9">
                        <p class="form-control-static"> {{vm.general.form1.field4.field42}} </p>
                    </div>
                </div>
            </div>
            <div class="col col-md-2"></div>
        </div>
        <div class="row">
            <div class="col col-md-10">
                <div class="form-group" show-errors ng-if="vm.general.status === 'approved'">
                    <label class="col-sm-3 control-label">5. บัญชีประมาณการราคากลาง</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="vm.general.form1.field5.field50" name="field50" class="form-control" placeholder="บัญชีประมาณการราคากลาง">
                    </div>
                </div>
                <div class="form-group" ng-if="vm.general.status === 'completed1' || vm.general.status === 'completed2'">
                    <label class="col-sm-3 control-label">5. บัญชีประมาณการราคากลาง</label>
                    <div class="col-sm-9">
                        <p class="form-control-static"> {{vm.general.form1.field5.field50}} </p>
                    </div>
                </div>
            </div>
            <div class="col col-md-2">

            </div>
        </div>

        <div class="row">
            <div class="col col-md-10">
                <div class="form-group" show-errors ng-if="vm.general.status === 'approved'">
                    <label class="col-sm-3 control-label">5.1</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="vm.general.form1.field5.field51" name="field51" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="form-group" ng-if="vm.general.status === 'completed1' || vm.general.status === 'completed2'">
                    <label class="col-sm-3 control-label">5.1</label>
                    <div class="col-sm-9">
                        <p class="form-control-static"> {{vm.general.form1.field5.field51}} </p>
                    </div>
                </div>
            </div>
            <div class="col col-md-2"></div>
        </div>
        <div class="row">
            <div class="col col-md-10">
                <div class="form-group" show-errors ng-if="vm.general.status === 'approved'">
                    <label class="col-sm-3 control-label">5.2</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="vm.general.form1.field5.field52" name="field52" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="form-group" ng-if="vm.general.status === 'completed1' || vm.general.status === 'completed2'">
                    <label class="col-sm-3 control-label">5.2</label>
                    <div class="col-sm-9">
                        <p class="form-control-static"> {{vm.general.form1.field5.field52}} </p>
                    </div>
                </div>
            </div>
            <div class="col col-md-2"></div>
        </div>
        <div class="row">
            <div class="col col-md-10">
                <div class="form-group" show-errors ng-if="vm.general.status === 'approved'">
                    <label class="col-sm-3 control-label">5.3</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="vm.general.form1.field5.field53" name="field53" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="form-group" ng-if="vm.general.status === 'completed1' || vm.general.status === 'completed2'">
                    <label class="col-sm-3 control-label">5.3</label>
                    <div class="col-sm-9">
                        <p class="form-control-static"> {{vm.general.form1.field5.field53}} </p>
                    </div>
                </div>
            </div>
            <div class="col col-md-2"></div>
        </div>
        <div class="row">
            <div class="col col-md-10">
                <div class="form-group" show-errors ng-if="vm.general.status === 'approved'">
                    <label class="col-sm-3 control-label">5.4</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="vm.general.form1.field5.field54" name="field54" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="form-group" ng-if="vm.general.status === 'completed1' || vm.general.status === 'completed2'">
                    <label class="col-sm-3 control-label">5.4</label>
                    <div class="col-sm-9">
                        <p class="form-control-static"> {{vm.general.form1.field5.field54}} </p>
                    </div>
                </div>
            </div>
            <div class="col col-md-2"></div>
        </div>
        <div class="row">
            <div class="col col-md-10">
                <div class="form-group" show-errors ng-if="vm.general.status === 'approved'">
                    <label class="col-sm-3 control-label">6. รายชื่อคณะกรรมการกำหนดราคากลาง</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="vm.general.form1.field6" name="field6" class="form-control" placeholder="รายชื่อคณะกรรมการกำหนดราคากลาง">
                    </div>
                </div>
                <div class="form-group" ng-if="vm.general.status === 'completed1' || vm.general.status === 'completed2'">
                    <label class="col-sm-3 control-label">6. รายชื่อคณะกรรมการกำหนดราคากลาง</label>
                    <div class="col-sm-9">
                        <p class="form-control-static"> {{vm.general.form1.field6}} </p>
                    </div>
                </div>
            </div>
            <div class="col col-md-2"></div>
        </div>


    </div>
</div>