<section>
  <div class="page-header">
    <h2 class="text-center">
      รายงานดูแลรักษาทรัพย์สินรอการขาย (PROPERTY FORECLOSED)
    </h2>
  </div>

  <div class="table-responsive">
    <div class="row">
      <div class="col col-xs-10">
        <input type="search" class="form-control " ng-model="searchText" placeholder="ค้นหา">
      </div>
      <div class="col col-md-2"><button class="btn btn-primary" ui-sref="properties.create()">สร้างรายการใหม่</button></div>
    </div>
    <br>


  </div>
  <div class="tabs-container">

    <uib-tabset>

      <uib-tab>
        <uib-tab-heading>
          แบบร่าง
        </uib-tab-heading>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>ลำดับ</th>
                <th>รหัสทรัพย์</th>
                <th>เลขที่เอกสารสิทธิ์</th>
                <th>ชื่ออาคารชุด/สถานที่</th>
                <th>
                  <div class="row">
                    <div class="col-xs-12 text-center">ประมาณการค่าใช้จ่าย</div>
                  </div>
                  <div class="row">
                    <div class="col col-xs-4 text-center">จำนวนเงิน</div>
                    <div class="col col-xs-4 text-center">วันที่</div>
                    <div class="col col-xs-4 text-center">ผู้อนุมัติ</div>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="property in vm.properties | filter:{ status: 'draft' } | filter:searchText" ui-sref="properties.edit({ propertyId: property._id })">
                <td>
                  {{property.propertyno}}
                </td>
                <td>{{property.propertyid}}</td>
                <td>{{property.documentno}}</td>
                <td>{{property.name}}</td>
                <td>
                  <div class="row">
                    <div class="col col-md-4 text-right">{{property.estexpense.amount | number:2}}</div>
                    <div class="col col-md-4 text-center">{{property.estexpense.apprvdate | date:'dd/MM/yyyy'}}</div>
                    <div class="col col-md-4">{{property.estexpense.approver}}</div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </uib-tab>
      <uib-tab>
        <uib-tab-heading>
          รออนุมัติ
        </uib-tab-heading>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>ลำดับ</th>
                <th>รหัสทรัพย์</th>
                <th>เลขที่เอกสารสิทธิ์</th>
                <th>ชื่ออาคารชุด/สถานที่</th>
                <th>
                  <div class="row">
                    <div class="col-xs-12 text-center">ประมาณการค่าใช้จ่าย</div>
                  </div>
                  <div class="row">
                    <div class="col col-xs-4 text-center">จำนวนเงิน</div>
                    <div class="col col-xs-4 text-center">วันที่</div>
                    <div class="col col-xs-4 text-center">ผู้อนุมัติ</div>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="property in vm.properties | filter:{ status: 'waiting for approve' } | filter:searchText" ui-sref="properties.view({ propertyId: property._id })">
                <td>
                  {{property.propertyno}}
                </td>
                <td>{{property.propertyid}}</td>
                <td>{{property.documentno}}</td>
                <td>{{property.name}}</td>
                <td>
                  <div class="row">
                    <div class="col col-md-4 text-right">{{property.estexpense.amount | number:2}}</div>
                    <div class="col col-md-4 text-center">{{property.estexpense.apprvdate | date:'dd/MM/yyyy'}}</div>
                    <div class="col col-md-4">{{property.estexpense.approver}}</div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </uib-tab>
      <uib-tab>
        <uib-tab-heading>
          อนุมัติ
        </uib-tab-heading>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>ลำดับ</th>
                <th>รหัสทรัพย์</th>
                <th>เลขที่เอกสารสิทธิ์</th>
                <th>ชื่ออาคารชุด/สถานที่</th>
                <th>
                  <div class="row">
                    <div class="col-xs-12 text-center">ประมาณการค่าใช้จ่าย</div>
                  </div>
                  <div class="row">
                    <div class="col col-xs-4 text-center">จำนวนเงิน</div>
                    <div class="col col-xs-4 text-center">วันที่</div>
                    <div class="col col-xs-4 text-center">ผู้อนุมัติ</div>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="property in vm.properties | filter:{ status: 'approved' } | filter:searchText" ui-sref="properties.view({ propertyId: property._id })">
                <td>
                  {{property.propertyno}}
                </td>
                <td>{{property.propertyid}}</td>
                <td>{{property.documentno}}</td>
                <td>{{property.name}}</td>
                <td>
                  <div class="row">
                    <div class="col col-md-4 text-right">{{property.estexpense.amount | number:2}}</div>
                    <div class="col col-md-4 text-center">{{property.estexpense.apprvdate | date:'dd/MM/yyyy'}}</div>
                    <div class="col col-md-4">{{property.estexpense.approver}}</div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </uib-tab>
      <uib-tab>
        <uib-tab-heading>
          ไม่อนุมัติ
        </uib-tab-heading>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>ลำดับ</th>
                <th>รหัสทรัพย์</th>
                <th>เลขที่เอกสารสิทธิ์</th>
                <th>ชื่ออาคารชุด/สถานที่</th>
                <th>
                  <div class="row">
                    <div class="col-xs-12 text-center">ประมาณการค่าใช้จ่าย</div>
                  </div>
                  <div class="row">
                    <div class="col col-xs-4 text-center">จำนวนเงิน</div>
                    <div class="col col-xs-4 text-center">วันที่</div>
                    <div class="col col-xs-4 text-center">ผู้อนุมัติ</div>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="property in vm.properties | filter:{ status: 'rejected' } | filter:searchText" ui-sref="properties.edit({ propertyId: property._id })">
                <td>
                  {{property.propertyno}}
                </td>
                <td>{{property.propertyid}}</td>
                <td>{{property.documentno}}</td>
                <td>{{property.name}}</td>
                <td>
                  <div class="row">
                    <div class="col col-md-4 text-right">{{property.estexpense.amount | number:2}}</div>
                    <div class="col col-md-4 text-center">{{property.estexpense.apprvdate | date:'dd/MM/yyyy'}}</div>
                    <div class="col col-md-4">{{property.estexpense.approver}}</div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </uib-tab>
      <uib-tab>
        <uib-tab-heading>
          เสร็จสมบูรณ์
        </uib-tab-heading>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>ลำดับ</th>
                <th>รหัสทรัพย์</th>
                <th>เลขที่เอกสารสิทธิ์</th>
                <th>ชื่ออาคารชุด/สถานที่</th>
                <th>
                  <div class="row">
                    <div class="col-xs-12 text-center">ประมาณการค่าใช้จ่าย</div>
                  </div>
                  <div class="row">
                    <div class="col col-xs-4 text-center">จำนวนเงิน</div>
                    <div class="col col-xs-4 text-center">วันที่</div>
                    <div class="col col-xs-4 text-center">ผู้อนุมัติ</div>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="property in vm.properties | filter:{ status: 'completed' } | filter:searchText" ui-sref="properties.view({ propertyId: property._id })">
                <td>
                  {{property.propertyno}}
                </td>
                <td>{{property.propertyid}}</td>
                <td>{{property.documentno}}</td>
                <td>{{property.name}}</td>
                <td>
                  <div class="row">
                    <div class="col col-md-4 text-right">{{property.estexpense.amount | number:2}}</div>
                    <div class="col col-md-4 text-center">{{property.estexpense.apprvdate | date:'dd/MM/yyyy'}}</div>
                    <div class="col col-md-4">{{property.estexpense.approver}}</div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </uib-tab>
    </uib-tabset>

  </div>
  <div class="alert alert-warning text-center" ng-if="vm.properties.$resolved && !vm.properties.length">
    No propertys yet, why don't you <a ui-sref="properties.create">create one</a>?
  </div>
</section>